// Consolidates the menu on mobile view
a.menu-toggler#menu-toggler(href="")
	span.menu-text

// Application sidebar
div.sidebar.sidebar-fixed#sidebar.menumin
	ul.nav.nav-list
		li.active
			a(href="#")
				i.icon-arrow-down
				span.menu-text Trading Deck
		//- li.vspace-sm-10
		
		// Valuraha options - loop
		- var dashboard = ["Shares", "Bonds", "Loans", "Fixed Deposits"];
		each item in dashboard		
			li
				a.dropdown-toggle(href="")
					i.icon-list
					span.menu-text #{item}
					b.arrow.icon-angle-down
				ul.submenu
					//(href="#modal-wizard", data-toggle="modal")
					li: a(href="/page/nsemarket")
						i.icon-double-angle-right
						| Buy
					//Just for reference purposes
					li: a(href="#modal-wizard", data-toggle="modal")
						i.icon-double-angle-right
						| Sell

	//- to collapse the sidebar
	div.sidebar-collapse#sidebar-collapse
		i.icon-double-angle-left(data-icon1="icon-double-angle-left", data-icon2="icon-double-angle-right")
