extends includes/header

block content
	// The main content begins here
	div.main-container#main-container
		div.main-container-inner
			
			//The menu sidebar
			include includes/sidebar

			include containers/leagues